@import url(https://fonts.googleapis.com/css?family=Michroma&display=swap);


body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #02028c 0%, #1f1f1f 100%);
}

p {
    color: aquamarine;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(152, 155, 154);

}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(152, 155, 154);
}

.sidebar {
    color: aquamarine;
     background: linear-gradient(270deg, #02028c 0%, #1f1f1f 100%);
}


.card {
     background: linear-gradient(270deg, #02028c 0%, #1f1f1f 100%);
     color: aquamarine;
}

.card a {
    text-decoration: none;
     color: aquamarine;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer,
.btn btn-primary {
     background: linear-gradient(270deg, #02028c 0%, #1f1f1f 100%);
    
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}
